/* Style sheet for Black Jack Computer Services Home page */

head{}
body{}

	#background{
	background-color: #413B3F;
	
	}
		#workspace{
			background-color: Black;
			width: 1000px;
			margin-left: auto;
			margin-right: auto;
		}
			header{
				margin-right: auto;
				margin-left: auto;
			}
			nav{
				height: 25px;
				background-color: Black;
				border-top: 5px solid #ED55F8;
				border-bottom: 5px solid #ED55F8;
				text-align: center;
				width: 1000px;
			}
					nav ul{
						list-style-type: none;
						padding: 0;
						margin-top: 2px;
						margin-bottom: 10;  /*may need change*/
					}
					nav li{
						font-family: sans-serif;
						display: inline;
						font-size: 16px;
						font-weight: 700;
						margin: 66px; 	
					
				}
					
		
		Footer{}
		

